/* title styles */
.title {
  text-align: center;
}

/* background colors / body */
body, .background-light {
  background-color: #FCFFF5;
  padding-top: 25px;
  font-family: 'Open Sans', sans-serif !important;
  color: #111111;
}
.background-dark {
  background-color: #D1DBBD;
}

/* containers */
@media(min-width:1200px){
  .container {
    max-width: 1280px;
    padding: 10px 150px 50px;
  }
}
@media(min-width:992px) {
  .container {
    padding: 10px 100px 50px;
  }
}
@media(max-width:767px) {
  .container {
    padding: 10px 50px 50px;
  }
}

/* link styles */
a {
  color: #111111;
  text-decoration: none;
}
a:visited {
  color: #111111;
  text-decoration: none;
}
a:hover {
  color: grey;
  text-decoration: none;
}

/* text */
p, address {
  font-size: 15px;
}
strong {
  font-weight: 600;
}

/* heading */
h1,h2,h3 {
  color: #3E606F;
}
h1 {
  font-size: 48px;
}
h4 {
  margin-bottom: 5px;
}
hr {
  border-color: #3E606F;
  opacity: .25;
  margin-left: 50px;
  margin-right: 50px;
}

/* unordered lists */
ul {
  margin: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -9px;
}
ul.dashed > li:before {
  content: "- ";
  text-indent: -5px;
}
ul.no-bullets {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
ul.no-bullets > li {
  padding-top: 5px;
  padding-bottom: 5px;
}
ul.no-bullets > li:hover{
    background:#F1F6E7;
}

/* circles */
.score {
  float: right;
  padding-top: 1px;
  padding-right: 5px;
}
.full-circle {
}
ul.no-bullets > li > .score > .full-circle {
  text-align: right;
  display: inline-block;
  background-color: #C2CECC;

  height: 12px;
  width: 12px;
  -moz-border-radius:6px;
  -webkit-border-radius: 6px;

	-webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
ul.no-bullets > li > .score > .full {
  background-color: #A4B5A5;
}
ul.no-bullets > li:hover > .score > .full-circle {
  margin-left: 2px;
}

/* navbar */
nav {
  opacity: .95;
  z-index: 99;
  background-color: #FCFFF5 !important;
}
ul.nav {
  padding-bottom: 0px;
}
.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}
nav.affix {
  position: fixed;
  top: 0px;
  width: 100%;
}
.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  position: fixed;
  top: 0px;
  box-sizing: content-box;
}
@media(max-width:767px) {
  .navbar {
    top: 0px;
    position: static;
  }
}
.navbar-nav>li>a {
  color: #193441 !important;
}
.navbar-nav>li>a:hover {
  color: #3E606F !important;
}
.navbar-nav>.active>a {
  background-color: #F1F6E7 !important;
}

/* misc */
#footer {
  max-height: 0px;
  position: relative;
}
#footer > small {
  position: absolute;
  bottom: 20px;
  /*left: 0;*/
}
#me { /* my picture */
  padding: 30px 30px 30px;
  max-width: 310px;
  max-height: 310px;
}
