/* title styles */
.title {
  text-align: center;
}

/* background colors */
body, .background-grey {
  background-color: #FBF9FF;
}
.background-purple {
  background-color: #E0DBE4;
}

/* link styles */
a {
  color: black;
}
a:hover {
  color: grey;
  text-decoration: none;
}

/* font */
body {
    font-family: 'Open Sans', sans-serif !important;
}
p, address {
  font-size: 15px;
}
h1 {
  font-size: 48px;
}
/* unordered lists */
ul {
  margin: 0;
  padding-left: 10pt;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}
ul.no-bullets {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
ul.no-bullets > li {
  padding-top: 5px;
  padding-bottom: 5px;
}
ul.no-bullets > li:hover{
    background:#E0DBE4;
}

/* circles */
.score {
  float: right;
  padding-top: 2px;
  padding-right: 5px;
}
.full-circle {
  text-align: right;
  display: inline-block;
  background-color: #AEA8B2;
  border: 2px solid #AEA8B2;
  height: 16px;
  width: 16px;
  -moz-border-radius:8px;
  -webkit-border-radius: 8px;
}

/* body / container */
.container {
  max-width: 1280px;
  padding: 10px 150px 50px;
}
body {
  padding-top: 45px;
}

/* navbar */
nav {
  opacity: .9;
  z-index: 99;
}
.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}
nav.affix {
  position: fixed;
  top: 0px;
  width: 100%;
}
.navbar {
  padding: 0px 75px 0px;
  margin-bottom: 0px;
}

/* misc */
.footer {
  height: 100px;
}
