/* title styles */
.title {
  text-align: center;
}

/* background colors */
body, .background-grey {
  background-color: #FBF9FF;
}
.background-purple {
  background-color: #E0DBE4;
}

/* link styles */
a {
  color: black;
}
a:hover {
  color: grey;
  text-decoration: none;
}

/* font */
body {
    font-family: 'Open Sans', sans-serif !important;
}
p, address {
  font-size: 15px;
}
h1 {
  font-size: 48px;
}
h4 {
  margin-bottom: 5px;
}
strong {
  font-weight: 600;
}
/* unordered lists */
ul {
  margin: 0;
  padding-left: 10px;
  padding-bottom: 10px;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}
ul.no-bullets {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
ul.no-bullets > li {
  padding-top: 5px;
  padding-bottom: 5px;
}
ul.no-bullets > li:hover{
    background:#F2EFF7;
    /*-ms-transform: scale(1.01,1.01);*/ /* IE 9 */
    /*-webkit-transform: scale(1.01,1.01);*/ /* Safari */
    /*transform: scale(1.01,1.01);*/
}

/* circles */
.score {
  float: right;
  padding-top: 1px;
  padding-right: 5px;
}
.full-circle {
  text-align: right;
  display: inline-block;
  background-color: #E0DBE4;
  height: 12px;
  width: 12px;
  -moz-border-radius:6px;
  -webkit-border-radius: 6px;
}
.full {
  background-color: #AEA8B2;
}

/* body / container */
@media(min-width:1200px){
  .container {
    max-width: 1280px;
    padding: 10px 150px 50px;
  }
}
@media(min-width:992px) {
  .container {
    padding: 10px 100px 50px;
  }
}
@media(max-width:767px) {
  .container {
    padding: 10px 50px 50px;
  }
}
body {
  padding-top: 45px;
}

/* navbar */
nav {
  opacity: .9;
  z-index: 99;
}
.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}
nav.affix {
  position: fixed;
  top: 0px;
  width: 100%;
}
.navbar {
  padding: 0px 75px 0px;
  margin-bottom: 0px;
}
.container>.navbar-header {
  /* fix this */
}

/* misc */
.footer {
  height: 100px;
}
